<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MySIS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mysis</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>App-Prefs</string>
		<string>prefs</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>MySIS requires permission to access your phone camera to take pictures while marking attendance and Changing Profile Image.</string>
	<key>NSContactsUsageDescription</key>
	<string>MySIS requires permission to access your phone contacts to allow phone calls to be made through the links provided in the application.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>MySIS use Face ID to secure your app data.</string>
	<key>NSLocalAuthenticationUsageDescription</key>
	<string>MySIS need Touch ID/Face ID to authenticate you.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MySIS uses location data in the background to verify your attendance and duty location even when the app is not actively open.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MySIS uses location data to verify the location from which Attendance is being marked and while on Duty. Permission is required while the app is in use.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MySIS requires access to the microphone to record audio for certain features.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>MySIS need permission to save files to your device.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MySIS need access to your photo library to save the downloaded PDF.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
        <key>NSUserTrackingUsageDescription</key>
    <string>We use notifications to keep you updated.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
